<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue</title>
    <script src="../js/vue.js"></script>
</head>
<body>
    <div id="app"> <!-- HTML DOM template-->
        <!-- 1 單選的 drop-down menu -->
        <!-- <select v-model="year">
            <option value="" disabled>Select year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
        <p>{{year}}</p> -->

        <!-- 2 複選的 drop-down menu -->
        <!-- <select v-model="years" multiple>
            <option value="" disabled>Select year</option>
            <option>2018</option>
            <option>2019</option>
            <option>2020</option>
            <option>2021</option>
            <option>2022</option>
            <option>2023</option>
            <option>2024</option>
        </select>
        <p>{{years}}</p> -->

        <!-- 3 -->
        <select v-model="selectedYear">
            <option v-for="year in years">{{year}}</option>
        </select>
        <select v-model="selectedMonth">
            <option v-for="month in 12">{{month}}</option>
        </select>
        <select v-model="selectedDay">
            <option v-for="day in 31">{{day}}</option>
        </select>

        <h3>今天是西元 {{selectedYear}} 年 {{selectedMonth}} 月 {{selectedDay}} 日</h3>
    </div>    

    <script>    
        new Vue({ 
            el: '#app',
            data: {  // 變數放這裡!
                // year: '',   // 1
                // years: [],  // 2
                years: [2018,2019,2020,2021,2022,2023,2024],  // 3
            },
            methods: {  // 函數『大部分』放這裡!
                
            },
            computed: { // 函數也可以放這裡，但是放在這裡的函數，不能傳參數，一定要有傳回值(return)
                selectedYear(){
                    return new Date().getFullYear()
                },
                selectedMonth(){
                    return new Date().getMonth() + 1
                },
                selectedDay(){
                    return new Date().getDate()
                },
            },
        })
    </script>
</body>
</html>

<!-- 
What did you
   use your
computer     for?
 -->