#leftbox{
    border: 5px dashed #cba;
    width: 240px;
    height: 240px;
    padding: 5px;
    margin: 5px;

    float: left;
}
#rightbox{
    border: 5px dashed #abc;
    width: 240px;
    height: 240px;
    padding: 5px;
    margin: 5px;

    float: left;
}