@{
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <style>
        div {
            background-color: aqua;
        }
    </style>
}
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<label>welcome mvc</label>
<img src="~/images/1234.png" class="img-fluid" />

<a asp-action="Privacy" asp-controller="Home">文字</a>

<form asp-action="Privacy" asp-controller="Home" method="post">
    <input name="Username" type="text" required />
    <button type="submit">提交</button>
</form>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}