@model CustomerOrderDetails2019.Models.Customers

<h3>客戶訂單</h3>
<div class="form-group row">
    <label class="col-lg-1 control-label"></label>
    <select asp-for="CustomerId" asp-items="@ViewBag.CustomerID" class="form-control">
        <option>----請選擇----</option>
    </select>
</div>

<div id="Orders"></div>

@section Scripts
{ 
  <script>
      $("#CustomerId").bind("change", function () {
          UpdateOrders();
      });
      function UpdateOrders() {
          //promise pattern
          $.ajax({
              type: "GET",
              url:"/Customers/Orders/" + CustomerId.value,
          }).done(function (data) {
              $("#Orders").html(data);
          }).fail(function (err) {
              alert(err.responseText);
          });

          
      }
  </script>

}